.product-txt {
    position: relative;
    text-align: center;
}

.learn {
    position: relative;
    left: 46.5%;
    color: #7caa3d;
    font-size: 140%;
}

.learn:hover {
    color: #949c88;
}

#FANS-img {
    position: relative;
    left: 39%;
}

#HVAC-img {
    position: relative;
    left: 40%;
}

#AIR-img {
    position: relative;
    left: 37%;
}

.desc {
    text-align: center;
}